doctype html
html(lang="en")
	head
		include templates/head
	body
		.status
			p#statusGame
		.simon-sections
			.row
				.section.green#clrGreen
				.section.yellow#clrYellow
			.row.display
				span#output 00
			.row
				.section.red#clrRed
				.section.blue#clrBlue
		.simon-control
			button#startGame Start
			button#strictMode Strict
		include templates/scripts
